<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.25408" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.46" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.6.46" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.6.170" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
</packages>